<div class="row">
	<div class="col-md-12">
		<h4>Últimes activitats a Catalunya</h4>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<a href="/#/" class="btn btn-default">Detall</a>
	</div>
</div>	
<div class="row">
	<div class="col-md-12">
		<h4>Propagació</h4>
		<hr>
	</div>
</div>	
<div class="row">
	<div class="col-md-3">
		<div class="panel panel-boder panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">A índex</h3>
			</div>
			<div class="panel-body">
				<div ng-radial-gauge ranges="aranges" value="avalue" value-unit="aunit" precision="aprecision" lower-limit="alowerLimit" upper-limit="aupperLimit"></div>
				<span><h1 style="text-align:center;font-weight:bold;">{{solar.aindex}}</h1></span>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-boder panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">K índex</h3>
			</div>
			<div class="panel-body">
				<div ng-radial-gauge ranges="kranges" value="kvalue" value-unit="kunit" precision="kprecision" lower-limit="klowerLimit" upper-limit="kupperLimit"></div>
				<span><h1 style="text-align:center;font-weight:bold;">{{solar.kindex}}</h1></span>
			</div>
		</div>
	</div>
	
	<div class="col-md-3">
		<div class="panel panel-boder panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Flux solar</h3>
			</div>
			<div class="panel-body">
			<div ng-radial-gauge ranges="fluxranges" value="fluxvalue" value-unit="fluxunit" precision="fluxprecision" lower-limit="fluxlowerLimit" upper-limit="fluxupperLimit"></div>
				<span><h1 style="text-align:center;font-weight:bold;">{{solar.solarflux}}</h1></span>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-boder panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">taques solars</h3>
			</div>
			<div class="panel-body">
			<div ng-radial-gauge ranges="spotsranges" value="spotsvalue" value-unit="spotsunit" precision="spotsprecision" lower-limit="spotslowerLimit" upper-limit="spotsupperLimit"></div>
				<span><h1 style="text-align:center;font-weight:bold;">{{solar.sunspots}}</h1></span>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<a href="/#/solar" class="btn btn-default">Detall</a>
	</div>
</div>	
