<div class="row">
	<div class="col-md-12">
		<h4>Propagació</h4>
		<hr>
	</div>
</div>	
<div class="row">
	<div class="col-md-3">
		<div class="panel panel-boder panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">A índex</h3>
			</div>
			<div class="panel-body">
				<span><h1 style="text-align:center;font-weight:bold;">{{solar.a}}</h1></span>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-boder panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">K índex</h3>
			</div>
			<div class="panel-body">
				<span><h1 style="text-align:center;font-weight:bold;">{{solar.k}}</h1></span>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-boder panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Flux solar</h3>
			</div>
			<div class="panel-body">
				<span><h1 style="text-align:center;font-weight:bold;">{{solar.flux}}</h1></span>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-boder panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">taques solars</h3>
			</div>
			<div class="panel-body">
				<span><h1 style="text-align:center;font-weight:bold;">{{solar.ssn}}</h1></span>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<a href="/#/solar" class="btn btn-default">Detall</a>
	</div>
</div>	
