<div class="row">
	<div class="col-sm-8">
		<h4>Propagació</h4>
		<hr>
		<small><em>Informació solar</em></small>
		<table class="table table-striped">
			<tr>
				<td class="dh">Data Actualització</td>
				<td>{{solardata.updated}}</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td class="dh">Flux solar</td>
				<td>{{solardata.solarflux}}</td>
				<td class="dh">Taques solars</td>
				<td>{{solardata.sunspots}}</td>
			</tr>
			<tr>
				<td class="dh">A</td>
				<td>{{solardata.aindex}}</td>
				<td class="dh">K</td>
				<td>{{solardata.kindex}}</td>
			</tr>
			
			<tr>
				<td class="dh">Raigs X</td>
				<td>{{solardata.xray}}</td>
				<td class="dh">Radiacions He II 304-A</td>
				<td>{{solardata.heliumline}}</td>
			</tr>
			<tr>
				<td class="dh">Nivell soroll</td>
				<td>{{solardata.signalnoise}}</td>
				<td class="dh">Camp magnètic</td>
				<td>{{solardata.magneticfield}}</td>
			</tr>
			<tr>
				<td class="dh">Vent solar</td>
				<td>{{solardata.solarwind}}</td>
				<td class="dh">Camp geomagnètic</td>
				<td>{{solardata.geomagfield}}</td>
			</tr>

			<tr>
				<td class="dh">Aurora</td>
				<td>{{solardata.aurora}}</td>
				<td class="dh">Aurora lat graus</td>
				<td>{{solardata.latdegree}}</td>
			</tr>
		</table>
		<small><em>Previsions HF</em></small>

		<table class="table table-striped">
			<th class="dh">Banda</th>
			<th class="dh">Condicions</th>
			<th class="dh">Franja horaria</th>
			<tr ng-repeat="banda in solardata.calculatedconditions.band">
				<td>{{banda["-name"]}}</td>
				<td>{{banda["#text"] | condicions}}</td>
				<td>{{banda["-time"] | condicions}}</td>
			</tr>
		</table>

		<small><em>Previsions VHF</em></small>

		<table class="table table-striped">
			<th class="dh">Condicions</th>
			<th class="dh">Lloc / localització</th>
			<th class="dh">Fenomen</th>
			<tr ng-repeat="banda in solardata.calculatedvhfconditions.phenomenon">
				<td>{{banda["#text"] | condicions}}</td>
				<td>{{banda["-location"]}}</td>
				<td>{{banda["-name"]}}</td>
			</tr>
		</table>
	</div>
	<div class="col-sm-4">
		<div class="row">
			<div class="panel panel-boder panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">DARRERA IMATGE Fe XII 193 Å</h3>
				</div>
				<div class="panel-body">
					<img src="http://umbra.nascom.nasa.gov/images/latest_aia_193.gif" class="img-thumbnail">
				</div>
			</div>

		</div>
		
	</div>
</div>