<div class="row">
	<div class="col-md-12">
		<h4>Quant a ...</h4>
		<hr>
		<div class="row">
			<div class="col-md-12">
				<small><em>Objectiu</em></small>	


				<p align="justify">QRZ.Cat neix amb la voluntat i el desig de varies persones radioaficionades del principat d'oferir i gaudir d'un servei de consulta de distintius de crida de radioaficionats en línia en llengua catalana.</p>
				<p align="justify">
					QRZ.Cat utilitza el servei <a target="_blank" href="https://<a target="_blank" href="https://www.qrz.com/page/about.html"> www.qrz.com </a>/XML/current_spec.html">d'interfície xml </a> que ofereix <a target="_blank" href="https://www.qrz.com/page/about.html"> www.qrz.com </a>, per tant, mostra totes les dades actualitzades de les estacions que estiguin inscrites en el moment de la consulta al web <a target="_blank" href="https://www.qrz.com/page/about.html"> www.qrz.com </a>.
				</p>
				<p align="justify">
					Tan mateix QRZ.Cat ofereix i oferirà altres serveis útils per a les estacions de radioaficionats com poden ser: 
					<ul>
						<li>Consulta de la propagació</li>
						<li>Consulta d’entitats DXCC</li>	
						<li>Etc.</li>
					</ul>
				</p>
				<p align="justify"><span>Agraïments especials per la seva desinteressada contribució al Jordi <a href="http://www.qrz.cat/#/db/EB3DVA">EB3DVA</a></span> i el Koldo <a href="http://www.qrz.cat/#/db/EA2AYF">EA2AYF</a></span></p>
				<small><em>Naturalesa i contingut</em></small>
				<p align="justify">
					Tot el contingut i serveis que lliura QRZ.Cat pertanyen a l’Associació Radioaficionats de Catalunya, d’ara en endevant ARCAT. 
				</p>
				<p align="justify">
					L'ús d'aquest lloc web implica l'expressa i plena acceptació de les presents condicions d'ús, sense perjudici de les condicions particulars que poguessin aplicar a alguns dels continguts o serveis del lloc web. Per la qual cosa l'usuari haurà de llegir detingudament i acceptar sense cap tipus de reserves la present Política d'us del contingut i navegació web abans de realitzar qualsevol tipus d'operació, visionat, utilització, etc. en aquest lloc web.
				</p>
				<p align="justify">
					L'Usuari es compromet a no utilitzar els llocs web o els seus serveis i continguts de forma contrària al que que disposa la legislació vigent. QRZ.Cat es reserva el dret a retirar l'accés a la present pàgina web, sense necessitat de previ avís, a qualsevol usuari que contravingui el disposat en aquestes condicions generals d'ús.
				</p>
				<p align="justify">
					QRZ.Cat es reserva el dret de modificar en qualsevol moment les presents condicions generals d'ús així com qualsevol altres, particulars o avisos que resultin d'aplicació. Així mateix es reserva el dret a modificar en qualsevol moment la presentació, configuració i localització del lloc web, així com els continguts i les condicions requerides per utilitzar els mateixos
				</p>
				<small><em>Informació i serveis</em></small>

				<p align="justify">
					QRZ.Cat proporciona informació clara als usuaris sobre els serveis que proporciona, les seves característiques i informació sobre la pròpia web. Al present lloc web hi ha enllaços a altres pàgines, les quals no són gestionades per QRZ.Cat aquests enllaços provenen d'altres fonts d'informació, no suposant la seva inclusió recomanació, invitació o suggeriment per a la visita de les pàgines de destinació i per tant QRZ.Cat declina tota responsabilitat que pogués sorgir en accedir a les pàgines de tercers.
				</p>
				<small><em>Ús i responsabilitats</em></small>
				<p align="justify">
					Les condicions de accés i ús de la present pàgina web es regeixen estrictament per la legalitat vigent i per el principi de bona fe comprometent-se l'usuari a realitzar un bon ús de la web i de els serveis que s'ofereixen.
				</p>
				<p align="justify">
					QRZ.Cat no pot assumir cap responsabilitat derivada de l'ús incorrecte, inadequat o il·lícit de la informació apareguda a altres pàgines d'Internet diferents a la própia QRZ.Cat.

				</p>
			</div>
		</div>

	</div>
</div>	