<table class="table table-striped">
	<tr >
		<td>
			<p>145.600</p>
		</td>
		<td>
			<p>145.000</p>
		</td>
		<td>
			<p>-600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " class="ce19">
			<p>ED3YAJ</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce19">
			<p>JN11es</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce19">
			<p>Turó de l'Home (Montseny)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce19">
			<p>1.712 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce19">
			<p>41,46.67N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce19">
			<p>002.26.16E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce19">
			<p>URE CTC</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce40"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce31">
			<p>Abans EA3B</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-0 RV-48</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>145.625</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>145.025</p>
		</td>
		<td style="text-align:left;width:2.097cm; " >
			<p>-600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " class="ce19">
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " class="ce19">
			<p>ED3YBA</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce19">
			<p>JN12ed</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce19">
			<p>Serra de Santa Magdalena</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce19">
			<p>1.595 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce19">
			<p>42.10.21N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce19">
			<p>002.20.33E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce19">
			<p>URE Garrotxa</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce40"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce31">
			<p>Abans EA3F</p>
		</td>
		<td style="text-align:left;width:2.461cm; " class="ce59">
			<p>R-1 RV-50</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>145.650</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>145.025</p>
		</td>
		<td style="text-align:left;width:2.097cm; " >
			<p>-600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>D-Star</p>
		</td>
		<td style="text-align:left;width:1.595cm; " class="ce15">
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAK</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce15">
			<p>JN11bi</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>Montjuïc (Barcelona)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">
			<p>250 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce15">
			<p>41.21.92N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">
			<p>002.09.58E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " >
			<p>URE Barcelona</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce41">
			<p></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce31">
			<p>Abans EA3C</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-2 RV-52</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>145.650</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>145.050</p>
		</td>
		<td >
			<p>-600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " class="ce15">
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " class="ce15">
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " class="ce15">
			<p>ED3YAY</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce15">
			<p>JN01ho</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Castell de Lleida</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>200 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " >
			<p>41.37.00N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " >
			<p>000.37.00E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce34">
			<p>R. C. Lleida - FCR</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce42">
			<p><span class="T1"><a href="http://www.ea3rck.net">http://www.ea3rck.net</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce31">
			<p>Abans EA3L</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-2 RV-52</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>145.675</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>145.075</p>
		</td>
		<td style="text-align:left;width:2.097cm; " >
			<p>-600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>EA3YAZ</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN12ga</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Santuari de Nª Sª del Far (Girona)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>1.123 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " >
			<p>42.01.20N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " >
			<p>002.32.12E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " >
			<p>URE Gironès</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce43"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce31">
			<p>Abans EA3D</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-3 RV-54</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>145.675</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>145.075</p>
		</td>
		<td style="text-align:left;width:2.097cm; " >
			<p>-600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>77.0</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAU</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce15">
			<p>JN02ip</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>Cap de Baquèira (Naut Aran)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">
			<p>2.600 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce15">
			<p>42.41.53N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">
			<p>000.58.48E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " >
			<p>URE Vall d'Aran</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce43"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce53">
			<p>Abans EA3J</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-3 RV-54</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>145.675</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>145.075</p>
		</td>
		<td style="text-align:left;width:2.097cm; " >
			<p>-600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:right; width:1.595cm; " >
			<p>88,5</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAH</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce15">
			<p>JN00et</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>Mont caro (Tarragona)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">
			<p>1.447 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce15">
			<p>40.48.13N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">
			<p>000.20.38E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce23">
			<p>AMIRED</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce44">
			<p><span class="T1"><a href="http://www.amired.es">http://www.amired.es</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce53"> </td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-3 RV-54</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " class="ce7">
			<p>145.687,5</p>
		</td>
		<td style="text-align:right; width:1.873cm; " class="ce7">
			<p>145.087,5</p>
		</td>
		<td style="text-align:left;width:2.097cm; " >
			<p>-600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:right; width:1.595cm; " >
			<p>88,5</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAI</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce19">
			<p>JN02wh</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce19">
			<p>Tosa d'Alp (Girona)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce19">
			<p>2.536 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce15">
			<p>42.19.16N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">
			<p>001.53.34E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce23">
			<p>AMIRED</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce44">
			<p><span class="T1"><a href="http://www.amired.es">http://www.amired.es</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce31"> </td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-3,5 RV-55</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>145.700</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>145.100</p>
		</td>
		<td style="text-align:left;width:2.097cm; " >
			<p>-600KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>71.9</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAP</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN12lg</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Castell de Sant Ferran (Figueres)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>550 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " >
			<p>42.16.27N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " >
			<p>002.57.03E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce35">
			<p>URE Alt Empordà</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce43"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce31">
			<p>Abans EA3E</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-4 RV-56</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>145.700</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>145.100</p>
		</td>
		<td style="text-align:left;width:2.097cm; " >
			<p>-600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:right; width:1.595cm; " class="ce15">
			<p>88,5</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAB</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN01vo</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Sant Jeroni (Montserrat)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>1.236 m. </p>
		</td>
		<td style="text-align:left;width:1.901cm; " >
			<p>41.36.34N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " >
			<p>001.49.13E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce23">
			<p>AMIRED</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce44">
			<p><span class="T1"><a href="http://www.amired.es">http://www.amired.es</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce31"> </td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-4 RV-56</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " class="ce8">
			<p>145.725</p>
		</td>
		<td style="text-align:right; width:1.873cm; " class="ce8">
			<p>145.125</p>
		</td>
		<td style="text-align:left;width:2.097cm; " >
			<p>-600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAL</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN01wu</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Turó dels Cellers Castellnou de B.</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>602 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " >
			<p>41.50.76N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " >
			<p>001.50.15E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " >
			<p>URE Bages</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce43"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce31">
			<p>Abans EA3G</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-5 RV-58</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " class="ce7">
			<p>145.737,5</p>
		</td>
		<td style="text-align:right; width:1.873cm; " class="ce7">
			<p>145.137,5</p>
		</td>
		<td style="text-align:left;width:2.097cm; " >
			<p>-600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>D-Star</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAQ</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce25">
			<p>JN01ct</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>Collsuspina (Barcelona)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">
			<p>980 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce29">
			<p>41.48.23N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">
			<p>002.11.35E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce36">
			<p>Unió R. d'Osona - FCR</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce41">
			<p><span class="T1"><a href="http://www.osonaradio.com/">http://www.osonaradio.com</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce31"> </td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-5,5 RV-59</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>145.750</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>145.150</p>
		</td>
		<td style="text-align:left;width:2.097cm; " >
			<p>-600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>EA3A</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN00es</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Monte Caro</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>1.442 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " >
			<p>40.48.17N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " >
			<p>000.20.62E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " >
			<p>URE Tarragona</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce45">
			<p><span class="T3">Llicència de baixa des de</span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce54">
			<p>31.12.07.</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-6 RV-60</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>145.750</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>145.150</p>
		</td>
		<td style="text-align:left;width:2.097cm; " >
			<p>-600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YBB</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN11mt</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Romanya de la Selva(Baix Empordà) </p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>359 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " >
			<p>41.59.75N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " >
			<p>003.02.48E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " >
			<p>URE Palamós</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce46"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce31">
			<p>Abans EA3I</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-6 RV-60</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:left;width:1.845cm; " >
			<p>145.750</p>
		</td>
		<td style="text-align:left;width:1.873cm; " >
			<p>145.150</p>
		</td>
		<td style="text-align:left;width:2.097cm; " >
			<p>-600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>123,0</p>
		</td>
		<td style="text-align:left;width:2.014cm; " class="ce19">
			<p>ED3YAG</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN01su</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Pinós (Solsonès)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>930 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " >
			<p>41.50.20N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " >
			<p>001.28.00E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce23">
			<p>A.R. Solsonès - FCR</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce44">
			<p><span class="T1"><a href="http://www.qsl.net/ea3sr">http://www.qsl.net/ea3sr</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce55">
			<p>Abans EA3H</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-6 RV-60</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>145.775</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>145.175</p>
		</td>
		<td >
			<p>-600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " class="ce15">
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " class="ce15">
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " class="ce15">
			<p>ED3YAW</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce15">
			<p>JN02ja</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>Sant Alís (Montsec d'Ares)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">
			<p>1.639 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce15">
			<p>42.02.38N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">
			<p>000.47.23E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce34">
			<p>R. C. Lleida - FCR </p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce42">
			<p><span class="T1"><a href="http://www.ea3rck.net">http://www.ea3rck.net</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce31">
			<p>Abans EA3K</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-7 RV-62</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>145.775</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>145.175</p>
		</td>
		<td >
			<p>-600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " class="ce15">
			<p>FM</p>
		</td>
		<td style="text-align:right; width:1.595cm; " class="ce20">
			<p>77,0</p>
		</td>
		<td style="text-align:left;width:2.014cm; " class="ce15">
			<p>ED3YAF</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce15">
			<p>JN12ce</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>El Catllar (Ripoll)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">
			<p>1.118 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce29">
			<p>42.11.34N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">
			<p>002.10.'70E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce37">
			<p>URE Ripollès</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce47"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce31"> </td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-7 RV-62</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:left;width:1.845cm; " class="ce10"> </td>
		<td style="text-align:left;width:1.873cm; " class="ce10"> </td>
		<td style="text-align:left;width:2.097cm; " class="ce16"> </td>
		<td style="text-align:left;width:1.986cm; " class="ce16"> </td>
		<td style="text-align:left;width:1.595cm; " class="ce21"> </td>
		<td style="text-align:left;width:2.014cm; " class="ce16"> </td>
		<td style="text-align:left;width:1.677cm; " class="ce16"> </td>
		<td style="text-align:left;width:6.152cm; " class="ce16"> </td>
		<td style="text-align:left;width:1.819cm; " class="ce16"> </td>
		<td style="text-align:left;width:1.901cm; " class="ce30"> </td>
		<td style="text-align:left;width:2.265cm; " class="ce16"> </td>
		<td style="text-align:left;width:4.867cm; " class="ce38"> </td>
		<td style="text-align:left;width:4.671cm; " class="ce48"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce56"> </td>
		<td style="text-align:left;width:2.461cm; " class="ce60"> </td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:left;width:1.845cm; " class="ce3">
			<p>Sortida</p>
		</td>
		<td style="text-align:left;width:1.873cm; " class="ce3">
			<p>Entrada</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce3">
			<p>Desp.</p>
		</td>
		<td style="text-align:left;width:1.986cm; " class="ce3">
			<p>Modulació</p>
		</td>
		<td style="text-align:left;width:1.595cm; " class="ce3">
			<p>Subtó</p>
		</td>
		<td style="text-align:left;width:2.014cm; " class="ce3">
			<p>Indicatiu</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce3">
			<p>Locator</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce3">
			<p>Localizació</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce3">
			<p>Alçada</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce3">
			<p>Latitud</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce3">
			<p>Longitud</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce3">
			<p>Titular</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce3">
			<p><span class="T2"><a href="http://www.ea5rci.com/">Web</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce3">
			<p>Observacions</p>
		</td>
		<td style="text-align:left;width:2.461cm; " class="ce3">
			<p>Canal</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:left;width:1.845cm; " > </td>
		<td style="text-align:left;width:1.873cm; " > </td>
		<td style="text-align:left;width:2.097cm; " > </td>
		<td style="text-align:left;width:1.986cm; " > </td>
		<td style="text-align:left;width:1.595cm; " > </td>
		<td style="text-align:left;width:2.014cm; " > </td>
		<td style="text-align:left;width:1.677cm; " > </td>
		<td style="text-align:left;width:6.152cm; " class="ce27">
			<p>UHF</p>
		</td>
		<td style="text-align:left;width:1.819cm; " > </td>
		<td style="text-align:left;width:1.901cm; " > </td>
		<td style="text-align:left;width:2.265cm; " > </td>
		<td style="text-align:left;width:4.867cm; " > </td>
		<td style="text-align:left;width:4.671cm; " > </td>
		<td style="text-align:left;width:2.628cm; " > </td>
		<td style="text-align:left;width:2.461cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>438.650</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>431.050</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>EC3B</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce19">
			<p>JN11gs</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce19">
			<p>Turó de l'Home (Montseny)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce19">
			<p>1.712 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce19">
			<p>41.46.67N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce19">
			<p>002.26.16E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce19">
			<p>URE Catalunya</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce43">
			<p>Llicència de baixa des de</p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce53">
			<p>31.12.11</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-70 RU-692</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " class="ce8">
			<p>438.675</p>
		</td>
		<td style="text-align:right; width:1.873cm; " class="ce8">
			<p>431.075</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " class="ce19">
			<p>ED3YAE</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN01su</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Pinós (Solsonès)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>930 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " >
			<p>41.50.20N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " >
			<p>001.32.24E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce23">
			<p>A.R. Solsonès - FCR</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce44">
			<p><span class="T1"><a href="http://www.qsl.net/ea3sr">http://www.qsl.net/ea3sr</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce31">
			<p>Abans EC3J</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-71 RU-694</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>438.700</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>431.100</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " class="ce19">
			<p>ED3YBC</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN11mu</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Romanya de la Selva(Baix Empordà) </p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>359 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " >
			<p>41.50.05N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " >
			<p>003.02.48E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " >
			<p>URE Palamós</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce40"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce31">
			<p>Abans EC3A</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-72 RU-696</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>438.725</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>431.125</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>EC3H</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN01wu</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Serra Sala (Sant Mateu de Bages)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>730 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " >
			<p>41.50.84N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " >
			<p>001.50.48E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " >
			<p>URE Bages</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce45">
			<p><span class="T3">Llicència de baixa des de</span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce54">
			<p>31.12.07.</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-73 RU-698</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>438.750</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>431.150</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:right; width:1.595cm; " class="ce22">
			<p>88,5</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAV</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce15">
			<p>JN02ja</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>Sant Alís (Montsec d'Ares)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">
			<p>1.639 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce15">
			<p>42.02.38N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">
			<p>000.47.23E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce34">
			<p>R. C. Lleida - FCR </p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce49">
			<p><span class="T1"><a href="http://www.ea3rck.net">http://www.ea3rck.net</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce31">
			<p>Abans EC3I</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-74 RU-700</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>438.775</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>431.175</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:right; width:1.595cm; " class="ce22">
			<p>88,5</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAM</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce15">
			<p>JN11ct</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>Collsuspina (Barcelona)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">
			<p>980 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce31">
			<p>41.48.23N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce31">
			<p>002.11.35E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce36">
			<p>Unió R. d'Osona - FCR</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce40"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce31">
			<p>Abans EC3D</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-75 RU-702</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>438.800</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>431.200</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:right; width:1.595cm; " >
			<p>110,9</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAC</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN11aq</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Puig de la Creu</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>671 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce29">
			<p>41.40.15N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce29">
			<p>002.30.28E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce39">
			<p>R. C. Castellar</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce41">
			<p><span class="T1"><a href="http://www.ea3rcc.com/">http://www.ea3rcc.com</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce31"> </td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-76 RU-704</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>438.875</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>431.275</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:right; width:1.595cm; " class="ce22">
			<p>123,0</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAO</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce15">
			<p>JN11bi</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>Montjuïc (Barcelona)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">
			<p>250 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce15">
			<p>41.21.92N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">
			<p>002.09.58E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " >
			<p>R.C.Quijotes Inter.</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce40"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce31">
			<p>Abans EC3G</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-79 RU-710</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>438.900</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>431.300</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " class="ce19">
			<p>ED3YAP</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN12lg</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Castell de Sant Ferran (Figueres)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>100 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " >
			<p>42.16.27N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " >
			<p>002.57.03E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce35">
			<p>URE Alt Empordà</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce40"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce31">
			<p>Abans EA3E</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-80 RU-712</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>438.925</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>431.325</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:right; width:1.595cm; " >
			<p>79,7</p>
		</td>
		<td style="text-align:left;width:2.014cm; " class="ce19">
			<p>ED3YAT</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN11ck</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>Centre Cívic Badalona</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>30 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " >
			<p>41.27.10N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " >
			<p>002.14.79E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " >
			<p>URE Badalona</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce40"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce31"> </td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-81 RU-714</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>438.950</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>431.350</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAS</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce15">
			<p>JN11jp</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>Far de Blanes (Girona)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">
			<p>160 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce15">
			<p>41.40.57N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">
			<p>002.48.14E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " >
			<p>URE Blanes</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce40"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce31">
			<p>Abans EC3C</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-82 RU-716</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>438.975</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>431.375</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAD</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce15">
			<p>JN11bn</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>Sabadell (Barcelona)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">
			<p>200 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce15">
			<p>41.32.57N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">
			<p>002.60.32E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " >
			<p>URE Sabadell</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce40"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce31"> </td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-83 RU-718</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>439.000</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>431.400</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:right; width:1.595cm; " >
			<p>110,9</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>EC3F</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce15">
			<p>JN01xm</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>Ullastrell</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">
			<p>342 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce15">
			<p>41.32.70N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">
			<p>001.59.70E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " >
			<p>URE Terrassa</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce43">
			<p>Llicència de baixa des de</p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce53">
			<p>31.12.11</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-84 RU-720</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>439.125</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>431.525</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>FM</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAN</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN11bk</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Tibidabo (Barcelona)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>512 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " >
			<p>41.25.38N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " >
			<p>002.07.15E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " >
			<p>URE Barcelona</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce50">
			<p></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce53">
			<p>Abans EC3E</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-89 RU-730</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>439.225</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>431.625</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce18">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " class="ce15">
			<p>FM</p>
		</td>
		<td style="text-align:right; width:1.595cm; " class="ce15">
			<p>88,5</p>
		</td>
		<td style="text-align:left;width:2.014cm; " class="ce15">
			<p>ED3YAU</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce15">
			<p>JN02lq</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>Cap de Baquèira (Naut Aran)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">
			<p>2.500 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce15">
			<p>42.41.53N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">
			<p>000.58.48E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce15">
			<p>URE Vall d'Aran</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce51"> </td>
		<td style="text-align:left;width:2.628cm; " class="ce57">
			<p>Abans EA3J</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-93 RU-738</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>439.275</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>431.675</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>C4FM</p>
		</td>
		<td style="text-align:right; width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAB</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce15">
			<p>JN01vo</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>Sant Jeroni (Montserrat)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">
			<p>1.236 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce15">
			<p>41.25.09N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">
			<p>001.49.13E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce23">
			<p>AMIRED</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce41">
			<p><span class="T1"><a href="http://www.amired.es">http://www.amired.es</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce53">
			<p>31.08.15</p>
		</td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-95 RU-742</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >439.350</td>
		<td style="text-align:right; width:1.873cm; " >431.750</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">-7.600 KHz</td>
		<td style="text-align:left;width:1.986cm; " >FM</td>
		<td style="text-align:right; width:1.595cm; " >71,9</td>
		<td style="text-align:left;width:2.014cm; " >ED3YBD</td>
		<td style="text-align:left;width:1.677cm; " class="ce15">JN01xk</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">Pallejà</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">241 m.</td>
		<td style="text-align:left;width:1.901cm; " class="ce15">41.25.16N</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">001.59.21E</td>
		<td style="text-align:left;width:4.867cm; " class="ce23"><span class="T1">Tecno Amics</span></td>
		<td style="text-align:left;width:4.671cm; " class="ce41"></td>
		<td style="text-align:left;width:2.628cm; " class="ce31"></td>
		<td style="text-align:left;width:2.461cm; " >R-98 RU-748</td>
		<td style="text-align:left;width:2.237cm; " ></td>
		<td style="text-align:left;width:2.237cm; " ></td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " >
			<p>439.375</p>
		</td>
		<td style="text-align:right; width:1.873cm; " >
			<p>431.775</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>DMR</p>
			<p>C4FM</p>
		</td>
		<td style="text-align:right; width:1.595cm; " >
			<p>88,5</p>
		</td>
		<td style="text-align:left;width:2.014cm; " >
			<p>ED3YAI</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce15">
			<p>JN02wh</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>Tosa d'Alp</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">
			<p>2.536 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce15">
			<p>42.19.16N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">
			<p>001.53.34E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce23">
			<p>AMIRED</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce41">
			<p><span class="T1"><a href="http://www.amired.es">http://www.amired.es</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce31"> </td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-99 RU-750</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " ></td>
		<td style="text-align:right; width:1.873cm; " ></td>
		<td style="text-align:left;width:2.097cm; " class="ce17"></td>
		<td style="text-align:left;width:1.986cm; " ></td>
		<td style="text-align:right; width:1.595cm; " ></td>
		<td style="text-align:left;width:2.014cm; " ></td>
		<td style="text-align:left;width:1.677cm; " class="ce25"></td>
		<td style="text-align:left;width:6.152cm; " class="ce15"></td>
		<td style="text-align:left;width:1.819cm; " class="ce15"></td>
		<td style="text-align:left;width:1.901cm; " class="ce32"></td>
		<td style="text-align:left;width:2.265cm; " class="ce15"></td>
		<td style="text-align:left;width:4.867cm; " class="ce23"></td>
		<td style="text-align:left;width:4.671cm; " class="ce41"></td>
		<td style="text-align:left;width:2.628cm; " class="ce31"></td>
		<td style="text-align:left;width:2.461cm; " ></td>
		<td style="text-align:left;width:2.237cm; " ></td>
		<td style="text-align:left;width:2.237cm; " ></td>
	</tr>
	<tr >
		<td style="text-align:left;width:1.845cm; " class="ce11">
			<p>438.412,5</p>
		</td>
		<td style="text-align:left;width:1.873cm; " class="ce13">
			<p>430.812,5</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>DMR</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " class="ce23">
			<p>ED3ZAK</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce23">
			<p>JN11bk</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Tibidabo (Barcelona)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>512 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce23">
			<p>41.25.09N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce23">
			<p>002.06.86E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " >
			<p>URE Barcelona</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce50">
			<p></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce31"> </td>
		<td style="text-align:left;width:2.461cm; " >
			<p>RU-673</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr >
		<td style="text-align:right; width:1.845cm; " class="ce11">
			<p>438.475</p>
		</td>
		<td style="text-align:right; width:1.873cm; " class="ce13">
			<p>430.875</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>D-Star</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " class="ce23">
			<p>ED3ZAQ</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN11bp</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Puig de la Creu</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>671 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce29">
			<p>41.40.15N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce29">
			<p>002.30.28E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce39">
			<p>R. C. Castellar</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce41">
			<p><span class="T1"><a href="http://www.ea3rcc.com/">http://www.ea3rcc.com</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce31"> </td>
		<td style="text-align:left;width:2.461cm; " >
			<p>RU-678</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr class="ro2">
		<td style="text-align:right; width:1.845cm; " >
			<p>438.525</p>
		</td>
		<td style="text-align:right; width:1.873cm; " class="ce10">
			<p>430.925</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>DMR</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " class="ce23">
			<p>ED3ZAQ</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN11bp</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Puig de la Creu</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>671 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce29">
			<p>41.40.15N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce29">
			<p>002.30.28E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce39">
			<p>R. C. Castellar</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce41">
			<p><span class="T1"><a href="http://www.ea3rcc.com/">http://www.ea3rcc.com</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce31"> </td>
		<td style="text-align:left;width:2.461cm; " >
			<p>RU-682</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr class="ro2">
		<td style="text-align:right; width:1.845cm; " >
			<p>438.800</p>
		</td>
		<td style="text-align:right; width:1.873cm; " class="ce10">
			<p>431.200</p>
		</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">
			<p>-7.600 KHz</p>
		</td>
		<td style="text-align:left;width:1.986cm; " >
			<p>DMR+</p>
		</td>
		<td style="text-align:left;width:1.595cm; " >
			<p>---</p>
		</td>
		<td style="text-align:left;width:2.014cm; " class="ce23">
			<p>ED3YAC</p>
		</td>
		<td style="text-align:left;width:1.677cm; " >
			<p>JN11bp</p>
		</td>
		<td style="text-align:left;width:6.152cm; " >
			<p>Puig de la Creu</p>
		</td>
		<td style="text-align:left;width:1.819cm; " >
			<p>671 m.</p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce29">
			<p>41.40.15N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce29">
			<p>002.30.28E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce39">
			<p>R. C. Castellar</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce41">
			<p><span class="T1"><a href="http://www.ea3rcc.com/">http://www.ea3rcc.com</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce31"> </td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-76 RU-704</p>
		</td>
		<td style="text-align:left;width:2.237cm; " > </td>
		<td style="text-align:left;width:2.237cm; " > </td>
	</tr>
	<tr class="ro2">
		<td style="text-align:right; width:1.845cm; " >439.000</td>
		<td style="text-align:right; width:1.873cm; " class="ce10">431.400</td>
		<td style="text-align:left;width:2.097cm; " class="ce17">-7.600 KHz</td>
		<td style="text-align:left;width:1.986cm; " >DMR DStar C4FM</td>
		<td style="text-align:left;width:1.595cm; " >---</td>
		<td style="text-align:left;width:2.014cm; " class="ce23">
			<p>ED3ZAH</p>
		</td>
		<td style="text-align:left;width:1.677cm; " class="ce23">
			<p>JN01vo</p>
		</td>
		<td style="text-align:left;width:6.152cm; " class="ce15">
			<p>Sant Jeroni (Montserrat)</p>
		</td>
		<td style="text-align:left;width:1.819cm; " class="ce15">
			<p>1.236 m. </p>
		</td>
		<td style="text-align:left;width:1.901cm; " class="ce15">
			<p>41.36.34N</p>
		</td>
		<td style="text-align:left;width:2.265cm; " class="ce15">
			<p>001.49.13E</p>
		</td>
		<td style="text-align:left;width:4.867cm; " class="ce23">
			<p>DIGIGRUP</p>
		</td>
		<td style="text-align:left;width:4.671cm; " class="ce52">
			<p><span class="T1"><a href="http://www.digigrup.org/">http://www.digigrup.org</a></span></p>
		</td>
		<td style="text-align:left;width:2.628cm; " class="ce58"> </td>
		<td style="text-align:left;width:2.461cm; " >
			<p>R-84 RU-720</p>
		</td>
		<td style="text-align:left;width:2.237cm; " ></td>
		<td style="text-align:left;width:2.237cm; " ></td>
	</tr>
	
</table>